<p id="notice"><%= notice %></p>

<%= link_to 'Back', posts_path %>

<%= image_tag(@post.image.url, class: 'largeIMG') %>
<h1><%= @post.title %></h1>
<p>
  <%= @post.body %>
</p>

<%= social_share_button_tag(@post.title) %>
<% if @post.user == current_user %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
